body {
  /* font-family: 'Eczar', serif; */
  font-family: 'Open Sans', sans-serif;
  padding: 2em;
  background-color: #3A393D;
  color: white;
}

img {
  vertical-align: middle;
}

header {
  padding: 0;
}


.element {
  padding-bottom: 2em;
  border-top-width: 0.15em;
  border-top-style: solid;
  border-top-color: black;
}

/* -------------- Buttons (edited from chatGPT) -------------- */
button,
.button,
button:focus,
.button:focus {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(60deg, #668fff 0%, #9d6cf7 100%);
  border-radius: .25em;
  color: #ffffff;
  padding: .75em 1em;
  border: none;
  cursor: pointer;
  align-self: center;
}

button:active,
.button:active {
  background-color: aqua;
}

button:hover,
.button:hover {
  box-shadow: -.15em .15em .5em #a0a0a0;
  transform: translate(.15em, -.15em);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  color: #ffffff;
}
/* -------------- End of Buttons -------------- */

a {
  color: #668fff;
  text-decoration: none;
  transition: color .5s ease;
  font-weight: 700;
}

a:hover,
a:focus {
  color: #9d6cf7;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: end;
  max-width: fit-content;
  background-color: #e4e4e4;
  padding: 1em;
  border-radius: .25em;
}

.square {
  width: 10em;
  height: 3em;
  /* margin: 2em; */
}

.square1 {
  background-color: #668fff;
}

.square2 {
  background-color: #9d6cf7;
}


/* -------------- Navigation Bar -------------- */
.logo {
  max-height: 2.5em;
}

nav {
  /* background-color: #668fff; */
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:90%;
  margin: 0 auto;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 1em;
  border-radius: 0.25em;
  transition: background-color 0.3s ease;
}

nav a:last-child {
  margin-left: auto; 
}

nav a:hover {
  color: #ffffff;
  opacity: 0.8;
}
/* -------------- End of Navigation Bar -------------- */


code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

/* -------------- Credit Section Styles -------------- */

.credit {
  position: fixed;
  bottom: 5%;
  right: 8%;
  padding: 10px;
  width:90%;
  text-align:right;
}

.discord-logo{
  width: 1.5%;
  margin: 0 0.1% 0.1% 0.5%;
}





/* -------------- End of Credit Section  Styles -------------- */

/* 
  INTERACTIVE ELEMENTS 
*/