body {
  /* font-family: 'Eczar', serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
  padding: 2em;
  background-color: #3A393D;
  color: white;
  margin-left: 1em;
  margin-right: 1em;
}

#body img {
  vertical-align: middle;
  border-radius: .5em;
}

header {
  padding: 0;
  /* margin-top: -1%; */
}

h1 {
  /* font-weight: 800; */
  margin-bottom: 0;
  font-size: 300%;
}

h2 {
  /* font-weight: 500; */
  margin-bottom: 0;
  font-size: 200%;

}

h3 {
  /* font-weight: 800; */
  font-size: 200%;
  margin-bottom: 0;
  /* color: #AECAF8; */
}

p {
  margin-bottom: 0;
}

.horizontal-space {
  display: inline-block;
  width: 0.5%;
}

.element {
  padding-bottom: 2em;
  border-top-width: 0.15em;
  border-top-style: solid;
  border-top-color: rgb(0, 0, 0);
}

/* -------------- Buttons (edited from chatGPT) -------------- */
button,
.button,
button:focus,
.button:focus {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  background: black;
  border-radius: .25em;
  color: #ffffff;
  padding: 1em 2em 1em 2em;
  border: none;
  cursor: pointer;
  align-self: center;
  font-size: 16px;
  font-weight: 500;
}

button:active,
.button:active {
  background-color: #ffb433;
  /* color: #000000; */
}

button:hover,
.button:hover {
  box-shadow: -.15em .15em .5em #a0a0a0;
  transform: translate(.15em, -.15em);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  color: #ffffff;
}

/* -------------- End of Buttons -------------- */

a {
  color: #668fff;
  text-decoration: none;
  transition: color .15s ease;
  font-weight: 700;
}

a:hover,
a:focus {
  color: #ffb433;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: end;
  max-width: fit-content;
  background-color: #e4e4e4;
  padding: 1em;
  border-radius: .25em;
}

.square {
  width: 10em;
  height: 3em;
}

.square1 {
  background-color: #668fff;
}

.square2 {
  background-color: #9d6cf7;
}


/* -------------- Navigation Bar -------------- */
.logo {
  max-height: 2.5em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 18em); /* Adjusted width */
  margin-left: 8em;
  margin-right: 8em;
  margin-top: 2em;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 1em;
  border-radius: 0.25em;
  transition: background-color 0.3s ease;
}

nav a:last-child {
  margin-left: auto;
}

nav a:hover {
  color: #ffffff;
  opacity: 0.8;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

/* -------------- End of Navigation Bar -------------- */



/* -------------- homepage-text Section Styles -------------- */

.homepage-text {
  text-align: left;
  width: 55%;
  margin: 10em auto 0 auto;
}

.homepage-text h1 {
  margin-bottom: 0.5%;
}

.homepage-text h1 {
  font-weight: 800;
  font-size: 300%;
}

.homepage-text h2 {
  font-weight: 500;
  font-size: 280%;

}

.homepage-text h3 {
  font-weight: 800;
  font-size: 280%;
  color: #AECAF8;
}

.h3-container {
  display: inline-block;
  vertical-align: middle;
}

.yellow-stroke {
  /* width: auto; */
  /* max-width: 100%; */
}

.light {
  width: auto;
  max-width: 100%;
  z-index: -1;
}

/* -------------- homepage-text Screen Size Breakpoints -------------- */

@media screen and (max-width: 550px) {
  .homepage-text h1 {
    margin-bottom: -14%;
  }

  .homepage-text h2 {
    margin-bottom: -18%;
  }

  .h3-container {
    white-space: normal;
  }

  .yellow-stroke {
    max-width: 16em;
    margin-top: -5em;
  }

  .light {
    max-width: 0;
    margin-top: -45em;
    right: 12em;
  }

}

@media screen and (min-width: 551px) {
  #body {
    padding-left: 5em;
    padding-right: 5em;
  }

  .homepage-text h1 {
    margin-bottom: -10%;
  }

  .homepage-text h2 {
    margin-bottom: -12%;
  }

  .yellow-stroke {
    width: 400px;
    max-width: 27em;
    /* margin-top: -5em; */
  }

  .light {
    max-width: 0;
    margin-top: -45em;
    right: 12em;
  }

  footer {
    top: 200%;
  }
}

@media screen and (min-width: 900px) {
  #body {
    padding-left: 10em;
    padding-right: 10em;
  }


  .homepage-text h1 {
    margin-bottom: 0%;
  }

  .homepage-text h2 {
    margin-bottom: 0%;
  }

  .h2-h3-container {
    display: flex;
  }

  .h2-h3-container h3 {
    margin-top: 1px;
    white-space: nowrap;
  }

  .h3-container {
    display: inline-block;
    vertical-align: middle;
    width: max-content;
  }

  .h2-h3-container h2 {
    margin-right: 10px;
    margin-top: 1px;
    white-space: nowrap;
  }

  .yellow-stroke {
    max-width: 25em;
    /* margin-top: -5em; */
  }

  .light {
    max-width: 25em;
    margin-top: -45em;
    right: 12em;
  }

  footer {
    top: 220%;
  }
}

@media screen and (min-width: 1900px) {
  #body {
    padding-left: 25em;
    padding-right: 25em;
  }


  .yellow-stroke {
    max-width: 25em;
    /* margin-top: -5em; */
  }

  .light {
    max-width: 25em;
    margin-top: -45em;
    margin-right: 50em;
  }

  footer {
    top: 220%;
  }
}


/* -------------- End of homepage-text Section  Styles -------------- */



/* -------------- Credit Section Styles -------------- */

.credit {
  padding: 10px;
  width: 90%;
  text-align: right;
  margin: 0 auto 2em auto;
}

.discord-logo {
  width: 1.5em;
  margin: 0 0.2% 0.1% 0.3%;
}

/* -------------- End of Credit Section  Styles -------------- */


/* -------------- Course Section Styles -------------- */

.courses-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#courses {
  margin-bottom: -1rem;
}

.courseThumbnail {
  width: 400px;
}

.serviceContainer {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* width:100%; */
}

.service-listing {
  width: 30em;
  margin: 2em 2em;
  /* margin-left: 0; */
  margin-top: 0;
  margin-right: 0;
  box-shadow: 0 0 1em #00000033;
}


.service {
  text-align: center;
  padding: 1em;
  border-radius: 0.25em;
  background-color: #e0e6ff;
  /* width: 400px; */
}

.service img {
  max-width: 400px;
  border-radius: 0.25em;
}

.service .yellow-stroke {
  /* padding-top: 1.5em; */
  width: 300px;
}

.service-name a {
  text-decoration: none;
  /* color: #333; */
}

.service-detail {
  margin-top: 0.625em;
  color: #666;
}

.cost {
  font-size: larger;
  font-weight: bold;
  color: #668fff;
  margin-top: 0;
  margin-bottom: 0;
}

/* -------------- End of Course Section  Styles -------------- */

/* -------------- Quote Section -------------- */
.quote-container{
  margin-top: 5%; 
    margin-bottom: 10%;
}
.quote-wrapper {
  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
  width: 100vw;
  align-items: center;
  position: relative;
}

.quote-image {
  width: auto;
  height: 50px; /* Adjust the height as needed */
  margin-right: 20px; /* Adjust the spacing between the image and the line */
  border-radius: 0px !important;
}

.quote-container #quotes {
  font-size: 2.5vw; /* Adjust the font size as needed */
}

.flex-line {
  flex-grow: 1;
  height: 8px;
  background-color: #ccc;
}
.quote-line {
  border-top: 8px solid #ccc;
  margin-top: 3%;
}



/* -------------- End of Quote Section Styles -------------- */


/* -------------- Footer Styles from ChatGPT -------------- */
:root {
  --footer-body-margin: 0;
  --footer-body-padding: 0;
}

body, html {
  margin: var(--footer-body-margin);
  padding: var(--footer-body-padding);
}

.footer-container {
  --footer-body-margin: 0;
  --footer-body-padding: 0;
  
}

footer {
  background-color: #13131333; 
  overflow: hidden; 
  margin-top:2%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  padding: 0 150px; 

}
.discord-logo {
  margin-right: 10px; /* Adjust the margin between image and text */
}

.footer-section {
  width: 10vw;
}

.footer-section:nth-child(2) {
  margin-left: 35vw;
}

.footer-section h1 {
  font-size: 18px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li:hover {
  opacity: 50%;
}

.footer-section a {
  font-weight: unset;
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.footer-line {
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

/* -------------- End of Footer Styles -------------- */



/* 
  INTERACTIVE ELEMENTS 
*/